h1{
    font-size: 50px;
    border: solid;
    padding: 25px;
    margin: 25;
    margin-right: 500px;
}
h2{
    padding: 15;
    margin-left: 260px;
    font-size: 45px;
}

th{
    padding: 10px;
    font-size: 40px;
}
.header-moda{
    background-color: #BB86FC;
}

.header-casa{
    background-color: #00C4B4;
}

.tabelas{
    padding: 3px;
    font-size: 36px;
    color: aliceblue;
}

td{
    background-color: #424250;
    font-size: 25px;
    padding: 15px;
}